body {
}
.cwidth {
    max-width: 1080px;
    margin: 0 auto;
}
#site-name p{
    font-size:1em;
}
.output, #header, #footer,#page{
    padding:2em;
    border:1px solid black;
    margin:1em;
}
.flex{
    display:flex;
}
.flex li{
    list-style:none;
    margin-left:10px;
    color:black;
}
.flex li a{
    text-decoration:none;
}
.form-row{
    margin-bottom:10px;
}
#header{
    background:mediumaquamarine;
    height:10vh;
}
#header.flex{
    justify-content:space-between;
}

#pages_result {
    width: 100%;
}

.listitem {
    background: #fefefe;
    padding: 12px 5%;
    width: 90%;
    overflow: hidden;
}

    .listitem:after {
        clear: both;
    }

    .listitem:nth-child(2n) {
        background: #e5ecf4;
    }

    .listitem:hover {
        background: #effffa;
    }

.col2, .col2last {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.col2last {
    margin-right: 0%;
}
#custom_header a{
    display:inline-block;
}

